#app {
	--color: red;

	font-family: sans-serif;
}

* > svg {
	display: block;
	width: 100%;
	height: 100%;
}

.router-link-active {
	color: var(--color);
}

.router-link-active * {
	fill: var(--color);
}

#app {
	border: 3px dashed black;
	padding: 10px;
}

div.outlet {
	border: 3px dashed red;
	padding: 10px;
}

div.outlet div.outlet {
	border: 3px dashed blue;
	padding: 10px;
}

div.outlet div.outlet div.outlet {
	border: 3px dashed orange;
	padding: 10px;
}
