#app {
	--color: red;
	--color-light: #ffc7c7;

	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

/* STRUCTURE */
body,
#app {
	display: contents;
}

vue-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	position: relative;
	overflow: hidden;
}

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid blue;
	padding: 10px;
}

route-outlet {
	display: block;
	border: 2px dashed gray;
	padding: 10px;
}

* > svg {
	display: block;
	width: 100%;
	height: 100%;
}
